.background {
    background-color: rgb(216, 216, 216);
}
.text {
    font-family: monospace;
}
.center {
    text-align: center;
}
.heading {
    color:brown;
}
.img {
    height:200px;
    width:200px;
}

.grid {
    display : grid;
    grid-column:auto;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, 20rem);
}

.details {
    margin-top:20px;
}

img {
    max-height:300px;
}

*{
    margin:0;
    padding:0;
  }
  
  .toast-notification{
    min-width: 200px;
    height:50px;
    background-color:white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top:0;
    right: 0;
    margin-top:20px;
    margin-right:20px;
    position:fixed;
    z-index:1;
    display:flex;
    flex-direction:row;
  }
  
  .message-container{
    width:80%;
    padding-top:13px;
    padding-left: 20px;
    font-family:'Roboto';
    color:white;
  }
  
  .close-notification{
    width:20%;
  }
  .close-notification > i {
    padding-top:15px;
    padding-left:5px;
    font-weight:900;
    color:white;
    cursor:pointer;
  }